<!DOCTYPE html>
<html mlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head::head"></th:block>
    <title>Title</title>
</head>
<body>
<div class="container">
    <th:block th:fragment="email-form">
        <form name="passwordForm" action="/restore-password" th:action="@{/restore-password}" th:method="post" th:object="${restorePasswordForm}">
            <th:block th:if="${#fields.hasGlobalErrors()}">
                <div class="alert alert-danger" role="alert">
                    <strong>Error!</strong> <span th:text="${#fields.globalErrors().get(0)}" th:remove="tag"></span>.
                </div>
            </th:block>
            <th:block th:if="${success}">
                <div class="alert alert-success" role="alert">
                    <strong>Success!</strong> Email was sent.
                </div>
            </th:block>
            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-danger'">
                <label for="email" class="form-control-label">Enter your email</label>
                <input id="email" type="email" class="form-control" placeholder="email" th:field="*{email}" th:classappend="${#fields.hasErrors('email')}? 'form-control-danger'">
                <span class="form-control-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
            </div>
        </form>
    </th:block>
    <form action="/restore-password" th:action="@{/recovery-password}" class="form-narrow" method="post"
          th:fragment="new-pass-form">
        <fieldset>
            <label for="password" class="form-control-label">Enter new password</label>
            <input id="password" name="password" class="form-control" type="password" placeholder="New password">
            <label for="r-password" class="form-control-label">Verify new password</label>
            <input id="r-password" class="form-control" type="password" name="r-password" placeholder="Repeat password">
            <input type="submit" class="btn btn-secondary" value="Save & Continue">
        </fieldset>
    </form>
</div>
</body>
</html>